{% extends 'base.html' %}

{% block content %}
  <div class="container-fluid d-flex h-100 justify-content-center align-items-center p-5">
    <form class="row g-3">
      <div class="col-auto">
        <input class="form-control" type="text" value="{{ password }}" aria-label="Disabled input example" disabled readonly>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Сгенерировать</button>
      </div>
    </form>
  </div>
{% endblock content %}